[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = { sys_platform = "== 'win32'"}
qrcode = "*"
"infi.systray" = { sys_platform = "== 'win32'"}

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
