[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
qrcode = "*"
"infi.systray" = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
