.m-1 {
    margin: 24px;
}

.m-2 {
    margin: 12px;
}

.m-3 {
    margin: 8px;
}

.p-1 {
    padding: 24px;
}

.p-2 {
    padding: 12px;
}

.p-3 {
    padding: 8px;
}

body {
    padding: 24px;
}

.right {
    float: right;
}

button {
    border-radius: 0px;
}